*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  gap: 50px;

  background-color: lightgreen;
  min-height: 100vh;
}

header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 0px;

  background-color: green;
  padding: 10px 9vw 0px 2vw;

  h1 {
    align-self: center;
    color: white;
    margin-bottom: 10px;
  }

  nav {
    display: flex;
    gap: 5px;

    button {
      color: white;
      padding: 0px 20px;
      border-radius: 5px 5px 0px 0px;
      border: none;
      background-color: green;

      &:hover {
        background-color: #090;
      }

      &.selected {
        color: black;
        background-color: lightgreen;
      }
    }
  }
}

div#content {
  align-self: center;
  width: 60vw;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  .header {
    text-align: center;
  }
}
