*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  gap: 50px;

  background-color: lightgreen;
  min-height: 100vh;
  padding-bottom: 80px;
}

header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 0px;

  background-color: green;
  padding: 10px 9vw 0px 2vw;

  h1 {
    align-self: center;
    color: white;
    margin-bottom: 10px;
  }

  nav {
    display: flex;
    gap: 5px;

    button {
      cursor: pointer;
      color: white;
      padding: 0px 20px;
      border-radius: 5px 5px 0px 0px;
      border: none;
      background-color: green;

      &:hover {
        background-color: #090;
      }

      &.selected {
        cursor: default;
        color: black;
        background-color: lightgreen;
      }
    }
  }
}

div#content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: clamp(750px, 60vw, 850px);
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 20px 20px 40px 20px;

  .header {
    text-align: center;
  }

  .intro-para {
    border-left: 4px solid gold;
    padding: 4px 0px 4px 8px;
    max-width: 800px;
  }

  .opening-hours {
    display: flex;
    align-items: center;
    justify-content: center;

    background: no-repeat center / cover url("./images/opening-hours.jpg");
    height: 500px;
    width: min(100%, 700px);
    border: thin solid black;

    table {
      border: 2px solid black;
      border-collapse: collapse;
      background-color: rgb(255 255 255 / 0.8);

      th, td {
        padding: 5px 10px;
        border: thin solid black;
      }

      td {
        text-align: center;
      }
    }
  }

  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
    place-items: center;
    width: 100%;

    & > div {
      box-sizing: border-box;
      display: grid;
      grid-template: 1fr 2fr 1fr / 1fr 1fr;
      gap: 10px 5px;

      border: 10px solid green;
      background-color: #ded;
      padding: 5px 10px 20px 10px;
      width: 80%;
      height: 70%;

      h3 {
        grid-column: 1 / -1;
        text-align: center;
        margin-bottom: auto;
      }

      img {
        width: 70%;
        height: auto;
        border-radius: 10px;
      }

      .job {
        align-self: end;
      }

      .email {
        grid-column: 1 / -1;
      }
    }
  }

  .tel {
    font-weight: 700;
    &::before {
      content: "Telephone: ";
      font-weight: 500;
    }
  }
}
