*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  gap: 50px;

  background-color: lightgreen;
  min-height: 100vh;
}

header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 0px;

  background-color: green;
  padding: 10px 9vw 0px 2vw;

  h1 {
    align-self: center;
    color: white;
    margin-bottom: 10px;
  }

  nav {
    display: flex;
    gap: 5px;

    button {
      color: white;
      padding: 0px 20px;
      border-radius: 5px 5px 0px 0px;
      border: none;
      background-color: green;

      &:hover {
        background-color: #090;
      }

      &.selected {
        color: black;
        background-color: lightgreen;
      }
    }
  }
}

div#content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: min(850px, 60vw);
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 20px 20px 40px 20px;

  .header {
    text-align: center;
  }

  .intro-para {
    border-left: 4px solid gold;
    padding: 4px 0px 4px 8px;
    max-width: 800px;
  }

  .opening-hours {
    display: flex;
    align-items: center;
    justify-content: center;

    background: no-repeat center / cover url("./images/opening-hours.jpg");
    height: 500px;
    width: min(100%, 700px);
    border: thin solid black;

    table {
      border: 2px solid black;
      border-collapse: collapse;
      background-color: rgb(255 255 255 / 0.8);

      th, td {
        padding: 5px 10px;
        border: thin solid black;
      }

      td {
        text-align: center;
      }
    }
  }
}
