*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}

@font-face {
  src: url("./fonts/NCLSamoaGardens.woff2") format("woff2"), url("./fonts/NCLSamoaGardens.woff") format("woff");
  font-family: "Samoa Gardens";
  font-style: none;
  font-weight: none;
  font-display: swap;
}

:root {
  font-family: "Georgia", system-ui, serif;
}

html * {
  font-family: inherit;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 50px;

  background-color: lightgreen;
  min-height: 100vh;
}

.logo {
  image-rendering: pixelated;
}

header {
  display: flex;
  position: sticky;
  justify-content: center;
  gap: 20px;
  top: 0px;

  background-color: green;
  padding: 10px 7vw 0px 2vw;
  font-family: "Samoa Gardens", system-ui, sans-serif;

  .title {
    display: flex;
    gap: 20px;
  }

  img.logo {
    height: 3rem;
    width: 3rem;
  }

  h1 {
    align-self: center;
    color: white;
    margin-bottom: 10px;
  }

  nav {
    align-self: end;
    display: flex;
    gap: 5px;
    margin-left: auto;
    height: 3rem;

    button {
      cursor: pointer;
      color: white;
      padding: 0px 20px;
      border-radius: 5px 5px 0px 0px;
      border: none;
      background-color: green;

      &:hover { background-color: #090; }

      &.selected {
        cursor: default;
        color: black;
        background-color: lightgreen;
      }
    }
  }
}

div#content {
  box-sizing: border-box;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: clamp(790px, 65vw, 890px);
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 20px 20px 40px 20px;

  .header {
    text-align: center;
    margin-bottom: 30px;
    border: 2px outset black;
    width: 100%;
  }

  .intro-para {
    border-left: 4px solid gold;
    padding: 4px 0px 4px 8px;
    margin-bottom: 20px;
    max-width: 800px;

    & > p + p {
      margin-top: 20px;
    }
  }

  .opening-hours {
    display: flex;
    align-items: center;
    justify-content: center;

    background: no-repeat center / cover url("./images/opening-hours.jpg");
    height: 500px;
    width: min(100%, 700px);
    border: thin solid black;

    table {
      border: 2px solid black;
      border-collapse: collapse;
      background-color: rgb(255 255 255 / 0.8);

      th, td {
        padding: 5px 10px;
        border: thin solid black;
      }

      td {
        text-align: center;
      }
    }
  }

  .back-to-top {
    background-color: lightblue;
    padding: 4px 8px;
    border: 2px solid black;
    font-family: "Samoa Gardens", system-ui, sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover { background-color: #9dc8e6; }
    &:active { background-color: #8db8e6; }

  }

  .links {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 30px;
    gap: 50px;
    font-family: "Samoa Gardens", system-ui, sans-serif;
    font-size: 1.2rem;

    a {
      color: green;
      &:hover { color: #00A000; }
      &:active { color: #00B000; }
    }
  }

  .contact-grid, .food-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    
    & > div {
      box-sizing: border-box;
      display: grid;
      gap: 10px 5px;
      width: 80%;

      h3 {
        grid-column: 1 / -1;
        text-align: center;
        margin-bottom: auto;
      }
    }
  }

  .food-div {
    width: 100%;
    scroll-margin-top: 90px;
  }

  .food-grid {
    row-gap: 40px;
    margin-bottom: 35px;

    & > div {
      grid-template: 6fr 1fr 4fr / 9fr 1fr;
      gap: 10px 5px;
      place-items: center;

      border: 10px solid green;
      background-color: #dfd;

      img {
        align-self: start;
        grid-column: 1 / -1;
        width: 100%;
        aspect-ratio: 3 / 2;
      }

      .description {
        padding: 0px 10px;
        place-self: start;
      }

      .price {
        place-self: end;

        padding: 0px 10px 10px 0px;
        font-weight: 700;
      }

      &:nth-child(odd):last-child {
        grid-column: 1 / 3;
        width: 40%;
      }
    }
  }

  .contact-grid {
    row-gap: 50px;

    & > div {
      grid-template: 1fr 3fr 1fr / 1fr 1fr;

      border: 10px solid green;
      background-color: #ded;
      padding: 5px 10px 20px 10px;
      height: auto;

      img {
        width: 70%;
        height: auto;
        border-radius: 10px;
      }

      .job {
        align-self: end;
      }

      .email {
        grid-column: 1 / -1;
      }
    }
  }

  .tel, .location {
    max-width: 75%;
    font-weight: 700;
    white-space: pre-wrap;
    &::before {
      font-weight: 500;
    }
  }

  .tel {
    margin-top: 30px;
    &::before { content: "Telephone:  "; }
  }

  .location {
    margin: -10px 0px;
    &::before { content: "Location:  "; }
  }

  .logo {
    width: 80%;
    height: auto;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: auto;
  color: white;
  font-family: "Times New Roman", system-ui, serif;
  background-color: #227;
  padding: 20px 40px;

  a {
    display: flex;
    align-items: center;

    color: white;
    text-decoration: none;
    transition: color 0.3s;

    &:hover { color: lightgreen; }

    &:active { color: #80dd80; }
  }

  svg {
    transition: stroke 0.3s;
    &:hover { stroke: lightgreen; }
    &:active { stroke: #80dd80; }
  }
}

@media (max-width: 1000px) {
  header {
    position: static;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px 2vw 0px 2vw;

    nav {
      align-self: center;
      margin: 0px;
    }
  }

  div#content {
    .food-div {
      scroll-margin-top: 30px;
    }
  }
}

@media (max-width: 900px) {
  div#content {
    width: 80vw;

    .contact-grid, .food-grid {
      grid-template-columns: 1fr;
    }

    .food-grid {
      & > div {
        grid-template: 6fr max(100px, 1fr) 2fr / 9fr 1fr;
        width: max(300px, 60vw);

        &:nth-child(odd):last-child {
          grid-column: 1 / 2;
          width: max(300px, 60vw);
        }
      }
    }

    .contact-grid {
      & > div {
        grid-template: 1fr 3fr 3fr / 1fr 1fr;
        padding: 5px 10px 15px;
        place-items: center;

        img {
          width: max(150px, 75%);
          grid-area: 2 / 2 / 4 / 3;
          height: auto;
          border-radius: 10px;
        }

        .email {
          word-break: break-word;
          grid-column: 1 / 2;
          align-self: start;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  div#content {
    width: 95vw;

    .opening-hours {
      table {
        width: 80%;
      }
    }

    .links {
      gap: 20px;
      flex-direction: column;
      align-items: center;
    }

    .contact-grid {
      grid-auto-rows: auto;
      row-gap: 50px;

      & > div {
        height: auto;
        grid-template: 1fr 1fr 1fr 5fr / 1fr;
        row-gap: 20px;
        padding: 10px 10px 20px;

        img {
          width: max(150px, 70%);
          grid-area: 4 / 1 / 5 / 2;
        }
      }
    }
  }
}
